NC_kelp_density_predictions_900m.csv
NC_Landsat_kelp_area_1984_2021.csv
NC_kelp_density_predictions_120m.csv
NC_kelp_density_predictions_1500m.csv
NC_kelp_density_predictions_150m.csv
NC_kelp_density_predictions_300m.csv
NC_kelp_density_predictions_600m.csv
